<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jgc.mapper.PurchaseOrderMapper">
    
    <resultMap type="PurchaseOrder" id="PurchaseOrderResult">
        <result property="id"    column="id"    />
        <result property="supplier"    column="supplier"    />
        <result property="purchaseDate"    column="purchase_date"    />
        <result property="arrivalStatus"    column="arrival_status"    />
        <result property="phone"    column="phone"    />
        <result property="weichat"    column="weichat"    />
        <result property="goodsList"    column="goods_list"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="remarks"    column="remarks"    />
        <result property="paidMoney"    column="paid_money" />
        <result property="paymentStatus"    column="payment_status" />
        <result property="status"    column="status" />
        <result property="logistics"    column="logistics" />
        <result property="logisticsMoney"    column="logistics_money" />
    </resultMap>

    <sql id="selectPurchaseOrderVo">
        select id, supplier, purchase_date, arrival_status, phone, weichat, goods_list, total_amount, 
            remarks, paid_money, payment_status, status, logistics, logistics_money
        from purchase_order
    </sql>

    <select id="selectPurchaseOrderList" parameterType="PurchaseOrder" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        <where>  
            <if test="params.beginPurchaseDate != null and params.beginPurchaseDate != '' and params.endPurchaseDate != null and params.endPurchaseDate != ''"> and purchase_date between #{params.beginPurchaseDate} and #{params.endPurchaseDate}</if>
            <if test="arrivalStatus != null  and arrivalStatus != ''"> and arrival_status = #{arrivalStatus}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="supplier != null  and supplier != ''"> and supplier like concat('%', #{supplier}, '%')</if>
        </where>
        order by purchase_date desc
    </select>
    
    <select id="selectPurchaseOrderById" parameterType="String" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertPurchaseOrder" parameterType="PurchaseOrder" useGeneratedKeys="true" keyProperty="id">
        insert into purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="supplier != null and supplier != ''">supplier,</if>
            <if test="purchaseDate != null">purchase_date,</if>
            <if test="arrivalStatus != null and arrivalStatus != ''">arrival_status,</if>
            <if test="phone != null">phone,</if>
            <if test="weichat != null">weichat,</if>
            <if test="goodsList != null">goods_list,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="remarks != null">remarks,</if>
            <if test="paidMoney != null">paid_money,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="status != null">status,</if>
            <if test="logistics != null">logistics,</if>
            <if test="logisticsMoney != null">logistics_money,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="supplier != null and supplier != ''">#{supplier},</if>
            <if test="purchaseDate != null">#{purchaseDate},</if>
            <if test="arrivalStatus != null and arrivalStatus != ''">#{arrivalStatus},</if>
            <if test="phone != null">#{phone},</if>
            <if test="weichat != null">#{weichat},</if>
            <if test="goodsList != null">#{goodsList},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="paidMoney != null">#{paidMoney},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="logistics != null">#{logistics},</if>
            <if test="logisticsMoney != null">#{logisticsMoney},</if>
         </trim>
    </insert>

    <update id="updatePurchaseOrder" parameterType="PurchaseOrder">
        update purchase_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplier != null and supplier != ''">supplier = #{supplier},</if>
            <if test="purchaseDate != null">purchase_date = #{purchaseDate},</if>
            <if test="arrivalStatus != null and arrivalStatus != ''">arrival_status = #{arrivalStatus},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="weichat != null and weichat != ''">weichat = #{weichat},</if>
            <if test="goodsList != null">goods_list = #{goodsList},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
            <if test="paidMoney != null">paid_money = #{paidMoney},</if>
            <if test="paymentStatus != null and paymentStatus != ''">payment_status = #{paymentStatus},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="logistics != null">logistics = #{logistics},</if>
            <if test="logisticsMoney != null">logistics_money = #{logisticsMoney},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePurchaseOrderById" parameterType="String">
        delete from purchase_order where id = #{id}
    </delete>

    <delete id="deletePurchaseOrderByIds" parameterType="String">
        delete from purchase_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>